.idea/*
!.idea/codeStyleSettings.xml
out
gen
*.iml
.gradle
app/build
app/obj
build
local.properties
captures
*.swp
cookies.txt
fastlane/metadata
fastlane/descriptions/
fastlane/jenkins-screenshots/
export/
threema-android-*
release/
.cxx/
