<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".dev.androidcontactsync.AndroidContactDebugActivity"
            android:theme="@style/Theme.Threema.Translucent"
            android:exported="false" />

        <activity
            android:name=".dev.patternlibrary.PatternLibraryActivity"
            android:theme="@style/Theme.Threema.Translucent"
            android:exported="false" />
    </application>

</manifest>
